body{
    background-color: rgb(174, 225, 235);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 60px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display : flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
 
  li a:hover {
    background-color: #111;
  }